.friend-entity {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 90%;
}

.profile-pic-container {
    flex: 0.2;
}

.tweet-profile-dp {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    margin: 5px;
}

.friend-details-container {
    width: 100%;
    align-items: flex-start;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.username {
    font-size: medium;
    font-weight: 600;
}

.userid {
    font-size: small;
    color: darkslategrey;
}

.friend-follow-button-container{
    flex: 0.2;
    display: flex;
    align-items: center;
}

.follow-button {
    height: 30px;
    width: 80px;
    background-color: lightblue;
    float: right;
    border-radius: 20px;
}

.follow-button:hover{
    cursor: pointer;
}