.home-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.profile-home-container{
    width: 80vw;
    margin: 0 auto 0;
}

@media (max-width: 940px) {

    .home-container{
        margin: 0 auto;
        max-width: 600px;
        flex-direction: column !important;
    }

}
