.user-profile-username{
    margin-top: 20px;
    font-weight: 600;
    font-size: 2em;
}

.user-profile-userid{
    font-size:1.5em;
    color: darkslategrey;
}

.status {
    font-size: 1.2em;
    color: rgb(48, 12, 12);
}

.center-text{
    text-align: center;
}