.friend-list-header-container {
    position: sticky;
    top: 0%;
    background: white;
    height: 50px;
    padding-top: 15px;
}

.friend-list-header {
    /* position: sticky;
    top: 1%; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(199, 169, 135);
    width: 80%;
    margin: 0 auto 0;
    height: 2.5rem;
    border-radius: 10px;
}