.user-profile-information__username{
    margin-top: 20px;
    font-weight: 600;
    font-size: 2em;
}

.user-profile-information__userid{
    font-size:1.5em;
    color: darkslategrey;
}

.user-profile-information__status {
    font-size: 1.2em;
    color: rgb(48, 12, 12);
    text-align: center;
}