.page-header__twitter-icon {
    font-size: 50px !important;
    margin-left: 20px;
    margin-bottom: 0px;
  }

.page-header{
    position: sticky;
    top: 0;
    z-index: 1000;
}

.page-header__twitter-icon-link:hover {
    cursor: pointer;
}

.page-header__twitter-icon-container{
    display: flex;
    padding-left: 50px;
    background-color: aqua;
    justify-content: space-between;
    align-items: center;
}

.page-header__view-toggle-button {
    background: none;
    border: none;
}

.view-toggle-button:hover{
    cursor: pointer;
}